<h2>Top Heroes</h2>
<div class="heroes-menu">
  <!-- *ngFor itera todo el tag html (donde se encuentra) para cada elemento de una lista -->
  <a *ngFor="let hero of heroes"
    routerLink="/detail/{{hero.id}}">
    {{hero.name}}
  </a>
</div> 

<app-hero-search></app-hero-search>