<!-- <h2>{{hero.name | uppercase }} Details</h2>
<div><span>id: {{hero.id}}</span></div>
<div><span>name: {{hero.name}}</span></div>
<div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div> --> 
<h2>My Heroes</h2>

<div>
  <label for="new-hero">New Hero name: </label>
  <input id="new-hero" placeholder="Enter the name of new hero and then click the button Add" #heroName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    Add hero
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">   
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a> 
    <button type="button" class="delete" title="delete hero"
  (click)="delete(hero)">x</button>
  </li>
</ul>