<div id="search-component">
    <label for="search-box">Hero Search</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  
    <ul class="search-result">
        <!-- heroes$ indica que se trata de un Observable llamado heroes$ -->
        <!-- No se trata de una lista de Heroe llamada heroes$ -->
        <!-- *ngFor no puede iterar un Observable; para agregar esto se 
        agrega un "| async" despues de heores$ -->
      <li *ngFor="let hero of heroes$ | async" >
        <a routerLink="/detail/{{hero.id}}">
          {{hero.name}}
        </a>
      </li>
    </ul>
  </div>